
<div class="parallax">  <div style="margin-left: 45%; opacity: 75%; padding-top: 5%"><%= image_tag("mhoodlogo.jpg") %></div></div>
<div style="height:500px;background-color:black;font-size:36px">
 <h1 style="color:white; padding-top:150px; padding-left: 50px; padding-right: 50px"> Qui est <strong>le Mhood Records</strong></h1>
 <h2 style="color:white; padding-left: 50px; padding-right: 50px"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </h2>
 <div style= "margin-left: 45%; margin-top: 50px"><%= link_to "Réserve ta session", "#", class: "btn btn-flat"%></div>
 </div>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'rec.jpg' %>)">
    Recording
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'mixage.jpg' %>) ">
    Mixage
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= asset_path 'jewel.jpg' %>)">
    Beatmaking
  </div>
</div>
<div class="parallaxcontainer" ><h1 style="color:black; padding-top:150px; padding-left: 50px; padding-right: 50px; text-align: right"> Nos <strong>Tarifs</strong></h1>
 <h2 style="color:black; padding-left: 50px; padding-right: 50px;  "> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </h2></div>


